
*{
  margin: 0;
  padding: 0;
  font-family: Rogan;

}





.contenedor{
    width: 100%;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: red;
    border: #28C76F;
}
h1{
    font-size: 4rem;
}




.boton
{
    color: wheat;
    text-decoration: none;
padding: 15px;
border-radius: 12px;
background: linear-gradient(90deg, #ffea00, #d500f9 );
font-weight: 700;
cursor: pointer;
margin-bottom: 20px;
}

.boton:hover{
color: white;
}
span{
  color: #28C76F;
}

/*Medias query*/

@media only screen and (max-width: 780px) {
    h1{
        text-align: center;
        font-size: 2.5rem;
    }
  }