---
const enlace = "https://meet.google.com/dbb-dpwi-rhw";
import '../pages/style/global.css';

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Julio Peña">
	<link rel="stylesheet" href="./style/global">
    <title>Astro</title>
  </head>
  <body>
	
		</div>
    <main>
		
      <!-- contenedor -->
      <div class="contenedor">
        <div class="hijo">
        <h1>Cordinación De Diapositivas</h1>
        <h2>Compartir comentarios Acerca del ppt
         </h2>
        <p>esta Reunion es de <span>7:40</span> a <span>7:55</span></p>
        <!-- Button Meet -->
        <div>
          <a class="boton" href="https://meet.google.com/dbb-dpwi-rhw">Ingresa A la Reunion</a>
        </div>
		<p>Aiii aiii Soy el mejor</p>
  </div>
      </div>
	  
    </main>
    
  </body>
</html>
