---
const enlace = "https://meet.google.com/dbb-dpwi-rhw";
import '../pages/style/global.css';

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
	<link rel="stylesheet" href="./style/global">
    <title>Astro</title>
  </head>
  <body>
	
		</div>
    <main>
		
      <!-- contenedor -->
      <div class="contenedor">
        <h1>Manual de Politicas de Seguridad Riesgos</h1>
        <h2>¡ATAQUE!</h2>
        <p>esta Reunion es de <span>5:00</span> a <span>5:20</span></p>
        <!-- Button Meet -->
        <div>
          <a class="boton" href="https://meet.google.com/dbb-dpwi-rhw">Ingresa A la Reunion</a>
        </div>
		<p>Esperemos que todo Ok</p>
      </div>
	  
    </main>
    
  </body>
</html>
