---
const enlace = "https://meet.google.com/dbb-dpwi-rhw";
import '../pages/style/global.css';


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Julio Peña">
	<link rel="stylesheet" href="./style/global">
  
    <title>Enlaces Meet</title>
  </head>
  <body>
	
		</div>
    <main>
		
      <!-- contenedor -->
      <div class="contenedor">
        <div class="hijo">
        <h1>Proximamente Para Reuniones</h1>
        <h2>Enlace de meet  disponible
         </h2>
        <p>esta Reunion es de <span>--:--</span> a <span>--:--</span></p>
        <!-- Button Meet -->
        <div>
          <a class="boton" href="https://meet.google.com/jnu-qpjz-fdw">Ingresa A la Reunion</a>
        </div>
		
  </div>
      </div>
	  
    </main>
  
    Para unirte a la videollamada, haz clic en este enlace: https://meet.google.com/jnu-qpjz-fdw
    Si quieres unirte por teléfono, llama al +1 614-686-0495 e introduce este PIN: 464 738 984#
  </body>
</html>
